<div class="<%= 'row col-xs-12' unless request.xhr? %>">
  <%= simple_form_for resource.localized,
                      url: resource.persisted? ? resource_path(country_id: params[:country_id],
                                                               state_id: params[:state_id]) : collection_path(country_id: params[:country_id],
                                                                                                              state_id: params[:state_id]),
                      method: resource.persisted? ? :put : :post,
                      remote: request.xhr? do |f| %>
    <%= render 'form_base_errors', f: f %>
    <%= render 'form', f: f %>
    <%= render 'form_buttons', f: f %>
  <% end %>
</div>
