<%= if can? :update, object
       link_to raw("<i class='icon-cog bigger-130 grey'></i>"), edit_administration_city_path(object.id, state_id: params[:state_id], country_id: params[:country_id]), 'data-placement' => :top, 'data-rel' => :tooltip,
               class: 'green', title: (I18n.t 'actions.edit')
     end %>

<% if object.active %>
  <%= link_to raw("<i class='icon-minus bigger-130'></i>"), inactivate_administration_city_path(object.id, state_id: params[:state_id], country_id: params[:country_id]),
              'data-placement' => :top, 'data-rel' => :tooltip, title: (I18n.t 'actions.inactivate'),
              class: 'red' %>
<% end %>
<% unless object.active %>
  <%= link_to raw("<i class='icon-ok light bigger-130'></i>"), activate_administration_city_path(object.id, state_id: params[:state_id], country_id: params[:country_id]),
              'data-placement' => :top, 'data-rel' => :tooltip, title: (I18n.t 'actions.activate'),
              class: 'green' %>
<% end %>

