<%= info_box I18n.t 'general_data', 'span2' do %>
  <%= f.input :name, input_html: { style: span_30 } %>
<% end %>
<%= info_box I18n.t 'activerecord.models.address.one', 'span2' do %>
    <%= render 'shared/address', f: f %>
<% end %>
