<% flash.each do |key, value| %>
  <div class="alert alert-block alert-<%= key %>">
    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
    <p style="color: red;"><b><%= value %></b></p>
  </div>
<% end %>
