<div class="header">
  <div class="stats">
    <a href="https://www.facebook.com/geracaocrista1" target="_blank">
      <div class="stat-box notify-disabled sign-block sign-facebook">
        <i class="icon-facebook"></i>
        <span class="mordern-id"><b>Facebook</b></span>
      </div>
    </a>
    <a href="https://plus.google.com/u/0/communities/106801205406650783468" target="_blank">
      <div class="stat-box notify-disabled sign-block sign-google">
        <i class="icon-google-plus"></i>
        <span class="mordern-id"><b>Google +</b></span>
      </div>
    </a>
    <a href="" target="_blank">
      <div class="stat-box notify-disabled sign-block sign-twitter">
        <i class="icon-twitter"></i>
        <span class="mordern-id"><b>Twitter</b></span>
      </div>
    </a>
    <a href="" target="_blank">
      <div class="stat-box notify-disabled sign-block">
        <i class="icon-play"></i>
        <span class="mordern-id"><b>YouTube</b></span>
      </div>
    </a>
  </div>
  <h1 class="page-title" id="page-title">Monte Sinai</h1>
</div><!-- header -->
