<ul class="nav pull-right">
  <li>
    <form class="search form-inline">
      <input type="text" placeholder="Buscar...">
      <button class="search-submit btn-search" value="" type="submit"><i class="icon-search"></i></button>
    </form>

  </li>
  <li class="dropdown header-border">
    <a href="#" role="button" class="dropdown-toggle " data-toggle="dropdown">
      <div class="thumb-account">
        <img height="20" width="20" src="" alt="Your profile">
        <span><i class="icon-caret-down"></i></span>
      </div>
    </a>

    <ul class="dropdown-menu block-dark account">
      <li class="first"><a tabindex="-1" href="#"><i class="icon-user"></i> Your profile</a></li>
      <li class="first"><a tabindex="-1" href="#"><i class="icon-cogs"></i> Settings</a></li>
      <li class="last notify-disabled"><%= link_to raw("<i class='icon-signout'></i> #{t 'logout'}"), destroy_user_session_path, method: :delete %></li>
    </ul>
  </li>
</ul>