<div class="nav-collapse subnav-collapse collapse ">

  <a href="#administration" class="nav-header" data-toggle="collapse">
    <i class="icon-adjust"></i>Administração
    <span class="label sidebar-label label-info">
    <i class="icon-angle-down"></i> </span></a>
  <ul id="administration" class="nav nav-list collapse">
    <%= submenu('posts', 'administration')%>
    <%= submenu('congregateds', 'administration')%>
    <%= submenu('jobs', 'administration')%>
    <%= submenu('churches', 'administration')%>
    <%= submenu('countries', 'administration')%>
    <%= submenu('shepherds', 'administration')%>
    <%= submenu('members', 'administration')%>
  </ul>
</div>
