<div class="modal hide fade in" id="modal-window">
  <div class="modal-header modal-default">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3 id="modal-header">Modal Header</h3>
  </div>
  <div class='modal-content' id="modal-content">
    <div class="modal-body">
      <p>Hello world!</p>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn">Close</button>
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</div>