<div id="breadcrumbs" class="breadcrumbs">
  &nbsp;
  <% if Rails.env.development? %>
    <a href="https://app.wercker.com/project/bykey/fc3edeb0a26ed27133a4ff9fde729baa">
      <img alt="Wercker status" src="https://app.wercker.com/status/fc3edeb0a26ed27133a4ff9fde729baa">
    </a>
  <% end %>
</div>
