<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Monte Sinai</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script>
    var environment = '<%= Rails.env %>',
      current_menu = '<%= menu_id(:menu) %>',
      current_submenu = '<%= menu_id(:sub) %>';
  </script>

  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag 'base/jquery-1.9.1' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('logo_prob.png') %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <%= render 'layouts/menu_user_settings' %>
    <a class="brand" href='<%= root_path %>'><span class="title">Monte Sinai</span><span class="logo"></span></a>
  </div>
</div><!-- navbar -->

<div data-offset-top="360" data-spy="affix" class="sidebar-nav affix">
  <a data-toggle="collapse" data-target=".nav-collapse" class="btn-sidebar">
    <span class="notify navigation span12"><i class="icon-reorder"></i> Navigation <span class="pull-right label sidebar-label label-danger"><i class="icon-angle-down"></i> </span></span>
  </a>

  <%= render 'layouts/menu_left' %>

</div><!-- sidebar -->

<div class="content">

  <%= render 'layouts/header'%>

  <div class="container-fluid" id="conteudo">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
</div><!-- content -->

<footer>
  <div class="clearfix">
    <p class="pull-left"><a class="notify-disabled" href="#"><i class="icon-chevron-up"></i></a></p>
    <p class="pull-right">&copy; 2014 <a href="http://mickael-girault.fr" target="_blank">Bootstrap Trooper</a></p>
  </div>
</footer><!-- footer -->
<%= render 'layouts/modal' %>
<%= javascript_include_tag 'application' %>
</body>
</html>
