<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Monte Sinai - Login</title>
  <%= stylesheet_link_tag :application, media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('') %>
</head>

<body>
<div class="login">
  <div class="wrapper">
    <div class="block-dark sign-block">
      <h3><%=t('login.enter_your_details') %></h3>
        <%= yield %>
        <div class="clearfix"></div>
        <hr class="hr-dark">
      </div>
    </div>
  </div>
</body>
</html>