<% unless alert.blank? %>
  <div class="alert alert-error">
    <%= alert %>
  </div>
<% end %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-dark') do |f| %>

  <% t_login = t('activerecord.attributes.user.login') %>
  <div class="input-prepend">
    <span class="add-dark"><i class="icon-user"></i></span>
    <%= f.text_field :login, required: true,
                     value: params[:user] ? params[:user][:login] : "#{t_login}",
                     placeholder: "#{t_login}", autofocus: 'autofocus',
                     onfocus: "if (value=='#{t_login}') {value='';}",
                     onblur: "if (value=='') {value='#{t_login}'}",
                     size: 33
    %>
  </div>

  <% t_password = t('activerecord.attributes.user.password') %>

  <div class="input-prepend">
    <span class="add-dark"><i class="icon-lock"></i></span>
    <%= f.text_field :password, required: true, value: "#{t_password}",
                     onfocus: "if (value=='#{t_password}') {this.type='password'; value=''}",
                     onblur: "if (value=='') {value='#{t_password}'; this.type='text'}",
                     size: 33 %><br>
  </div>
  <div class="hr-dark"></div>
  <span id="sign-form-valid">
      <%= f.submit 'Entrar', class: 'btn btn-inverse pull-right' %>
    </span>
<% end %>
