<% if request.xhr? %>
  <div class="modal-footer">
    <%= f.button :button, class: 'btn btn-info' %>
    <a class="btn null">Cancelar</a>
  </div>

  <script>
    $('.modal-footer').on('click', 'a', function (e) {
      $('#modal-window').modal('hide');
    });
  </script>
<% else %>
  <div class="form-actions row-fluid col-sm-11">
    <%= f.button :button, class: 'btn-large btn-primary' %>
    <%= f.button :back, class: 'btn-large btn-warning'%>
  </div>
<% end %>
