<%= list_table do %>
  <div class='table-option clearfix'>
    <div class=''>
      <%= create_link if create? %>
    </div>
     <%= render partial: 'search' %>
  </div>

  <table class="responsive table">
    <thead>
    <%= render 'list_head' %>
    </thead>

    <tbody>
    <%= render 'list_body' %>
    </tbody>
  </table>
  <div class="pagination pagination-centered">
    <%= paginate(params) %>
  </div>
<% end %>
