<div class="modal-body">
  <h2><%= t "#{controller_name}.search", resource: singular, cascade: true %> <%= singular %></h2>
  <%= form_tag url_for(input_id: params[:input_id]), method: :get, remote: true do %>
    <% attributes.each do |attribute| %>
      <%= localized_attribute(resource_class, attribute) %>: <%= text_field_tag "search[keyword]" %>
      <%= hidden_field_tag 'search[attr]', 'name' %>
    <% end %>

    <table id="<%= model_file %>_search" class="table table-striped table-bordered table-hover dataTable">
      <%= render 'modal_content' %>
    </table>

    <div class="dataTables_paginate paging_bootstrap pagination">
      <%= remote_paginate(params) %>
    </div>

    <div class="modal-footer">
      <%= link_to (t 'buttons.register'), new_resource_path, class: 'btn', target: '_blank' %>
      <%= submit_tag :Pesquisar, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<script>
  $(".search_row").click(function () {
    var object_id = $(this).attr('id'),
        object_name = $(this).find("td")[0].innerHTML,
        input = $("#<%= params[:input_id] %>");

    input.val(object_name);
    input.parent().find('input:hidden').val(object_id);

    $('#modal-window').modal('hide');
  });
</script>
