<span class="pull-right keywords">
    <% if resource_class.search_attributes %>
      <%= form_tag url_for, method: :get, class: 'form-search', style: 'margin: 0;' do %>

      <%= select :search, :attr,
                   resource_class.search_attributes.collect { |a| [localized_attribute(resource_class, a), a] },
                   selected: params[:search][:attr] %>

        <%= text_field :search, :keyword, value: params[:search][:keyword], autofocus: 'autofocus' %>
        <% search_params(params).each do |key, value| %>
          <%= hidden_field_tag key, value %>
        <% end %>
      <button type="submit" class="btn btn-primary" data-original-title='<%= t 'buttons.search' %>'> <i class="icon-search icon-white"></i></button>
      <% end %>
    <% end %>
</span>
