<div class="page-header position-relative">
  <h1>
    <%= singular + " (#{resource.to_s})" %>
    <small>
      <i class="icon-double-angle-right"></i>
      <%= (I18n.t '.explain_show') %>
    </small>
  </h1>
</div>

<%= render 'show' %>

<div class="form-actions">
  <% if can? :update, resource %>
    <%= link_to raw("<i class='icon-edit'></i>" + (t 'buttons.edit')), edit_resource_path,
                class: 'btn btn-warning', 'data-disable-with' => (t 'loading') %>
  <% end %>
  <%= link_to raw("<i class='icon-arrow-left'></i>" + (t 'back')), smart_collection_path,
              class: 'btn', 'data-disable-with' => (t 'loading') %>
</div>
