<%= info_box I18n.t 'general_data', 'span2' do %>
  <%= f.input :name, input_html: { class: 'field-user', style: span_30 } %>
  <%= f.input :birth_dt, input_html: { style: span_date, class: 'date-picker'} %>
  <%= f.input :entry_dt, input_html: { style: span_date, class: 'date-picker'} %>
  <%= f.input :baptized %>
<% end %>
