<div class="page-header position-relative">
  <h1><%= t 'general.profile' %></h1>
</div>

<div class="row col-xs-12">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :login %>
    <%= f.input :email%>
    <%= f.input :skin %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.input :password, hint: I18n.t('devise.messages.leave_blank') %>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password, hint: I18n.t('devise.messages.current_password') %>

    <div class="form-actions">
      <%= f.button :button, class: 'btn btn-info' %>
      <%= f.button :back, href: root_path, class: 'btn' %>
    </div>
  <% end %>
</div>
